:root {
    --BaseCol: #083434;
    --HoverCol: #9b9662;
    --Font: 300
}

.poppins-regular {
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins", serif;
}

.Banner {
    background-color: var(--BaseCol);
    color: white;
    padding-top: 10px;

    img {
        padding-left: 10px;
    }

    h1 {
        display: inline;
        font-size: 70px;
        margin-bottom: 20px;
    }

    p {

        padding-left: 16px;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.5s;
    }

    li a:hover {
        background-color: #9b9662;
    }
}



/* Table container styling */
.Body {
    margin: 20px auto;
    padding: 15px;
    background-color: #eaeaea;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.HadithOfTheDay,
.GithubButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Aligns text vertically */
    padding: 10px;
    margin: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 300px;

    /* Ensure same width */
}

.GithubButton {
    width: 250px;
}

.HadithOfTheDay {
    width: 1000px;
    padding-left: 30px;

    h3 {
        padding-bottom: 0px;
        font-size: 50px;
    }

    p {
        padding-bottom: 110px;
        font-style: italic;
        font-size: 35px;
    }
}


.Table_Links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Table styling */
.NamaazTable {

    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #333;
}

.NamaazTable th,
.NamaazTable td {
    padding: 12px 20px;
    border: 1px solid #ddd;
}

.NamaazTable th {
    background-color: var(--BaseCol);
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.NamaazTable td {
    background-color: #f9f9f9;
}

/* Highlight hover rows */
.NamaazTable tr:hover td {
    background-color: #d7ecec;
}

/* Input field and button styling */
.CityInput,
button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.CityInput {
    width: 100px;
    border: 1px solid #ccc;
}

button {
    background-color: var(--BaseCol);
    width: 185px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--HoverCol);
}

.HadithImage {
    width: 200px;
    margin-right: 100px;
}

.ButtonContainer {
    display: flex;
    align-items: stretch;
    /* Ensures both items have the same height */
    gap: 20px;
    /* Adds space between them */
}